.c-customer-forms{
  width: 80%!important;
  margin-left: auto;
  margin-right: auto;
}


.c-customer-forms .myButton{
  padding: 18px 32px;
  letter-spacing: 2px!important;
}
.c-customer-forms .myButton:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:
  #fff!important;
  cursor: pointer;
}
